<div class="operations">
  <h4>Account operations</h4>
  <button type="button" (click)="showInternalAccountTransactionInterface()">Internal Transactions</button>
  <button type="button" (click)="showExternalAccountTransactionInterface()">External Transactions</button>
  <br>
  <app-self-money-operations
    [hidden]="!internalAccountTransactionVisible"
    [account]="account"></app-self-money-operations>
  <app-transaction
    [hidden]="!externalTransactionVisible"
    [senderAccount]="account"></app-transaction>
</div>
