<div class="external_operations">
  <form #transactionForm ="ngForm" (ngSubmit)="createTransaction()">
    <div>
      <label for="receiverNumber">Receiver account Number</label>
      <input type="text" id="receiverNumber" required [(ngModel)]="receiverAccountNumber" name="receiverNumber"/>
      <br>
      <label for="money">Amount to transfer</label>
      <input type="text" id="money" required [(ngModel)]="model.amount" name="money"/>
    </div>
    <br>
    <button [disabled]="!transactionForm.form.valid" type="submit">Submit</button>
  </form>
</div>
